<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Boot Setting</h1>

<form action="/boot" method="POST">
    出力デバイスの選択：
    <select name="device">
        <option th:each="device : ${l_device}" th:text="${device}"></option>
    </select>
    <br />
    AIのモード選択    :
    <select name="mode">
        <option value=1>ルーシー会話モード</option>
        <option value=2>コメント欄と会話モード</option>
        <option value=3>両方モード</option>

    </select>


    <p><input type="submit" value="送信"></p>
</form>
<h1>停止ボタン</h1>
<form action="/stop" method="GET">
    <p><input type="submit" value="Stop"></p>
</form>

</body>
</html>